################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/verified_proxies.json
/venv
/.vs
/.idea
/Class/__pycache__
/Result
